* {
    margin: 0;
    text-align: center;
}

/*--  Background --*/

body {
    background-color: rgba(0, 0, 0, 0.808);
}

/* -- Header --*/


header {
    display: flex;
    text-align: center;
    background-color: rgba(21, 21, 21, 0.146);
    height: 1.5rem;
    padding: .5rem;
    justify-content: space-between;
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}

#title {
    color: #5ee7ff;
    padding: .2vw 3vw;
}

header>ul {
    display: flex;
    flex-wrap: nowrap;
}

header a {
    text-decoration: none;
    color: #5ee7ff;
    padding: .2vw 1vw;

}