* {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*--  Background --*/

body {
    background-color: rgba(0, 0, 0, 0.808);
    height: 100%;
    width: 100%;
    margin: 0;
}

/* -- Header --*/


header {
    position: absolute;
    min-width: 100vw;
    display: flex;
    text-align: center;
    background-color: rgba(46, 46, 46, 0.95);
    height: 1.5rem;
    padding: .5rem;
    justify-content: space-between;
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}

#title {
    color: #5ee7ff;
    padding: .2vw 3vw;
}

header>ul {
    display: flex;
    flex-wrap: nowrap;
}

header a {
    text-decoration: none;
    color: #5ee7ff;
    padding: .2vw 1vw;

}

/*  Páginas  */

.mainScroll {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.mainScroll>section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.mainScroll>:nth-child(1) {
    background-image: linear-gradient(purple,60%,aqua);
    color: aqua;
    font-size: 2rem;
}


.mainScroll>:nth-child(2) {

    background-image: linear-gradient(aqua,60%,rgb(57, 57, 255) );
}

.mainScroll>:nth-child(3) {
    background-image: linear-gradient(rgb(57,57,255),90%,black);

}

.mainScroll>:nth-child(4) {

    background-image: linear-gradient(black,50%, white);
}

.mainScroll h1{
    margin-bottom:35%;

}
