* {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*--  Background --*/

body {
    background-color: rgba(0, 0, 0, 0.808);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* -- Header --*/


header {
    display: flex;
    text-align: center;
    background-color: rgba(21, 21, 21, 0.146);
    height: 1.5rem;
    padding: .5rem;
    justify-content: space-between;
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}

#title {
    color: #5ee7ff;
    padding: .2vw 3vw;
}

header>ul {
    display: flex;
    flex-wrap: nowrap;
}

header a {
    text-decoration: none;
    color: #5ee7ff;
    padding: .2vw 1vw;

}

/*  Páginas  */

.mainScroll {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.mainScroll>section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.mainScroll>:nth-child(1) {
    background-image: linear-gradient(aqua,60%,purple);
    color: aqua;
    font-size: 2rem;
}


.mainScroll>:nth-child(2) {

    background-image: linear-gradient(purple,60%,yellow);
}

.mainScroll>:nth-child(3) {
    background-image: linear-gradient(yellow,90%,black);

}

.black {
    color: black;
}

.projetos {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#projHover {
    color: white;
    text-decoration: none;
}

#projHover:hover {
    color: rgb(0, 255, 106);
}
